RewriteEngine on
RewriteCond $1 !^(index\.php|index\.htm|img|templates|content|pages|css|fonts|ajax|js|less|upload|PagSeguroLibrary|system|assets|robots\.txt|sitemap)
RewriteRule ^(.*)$ index.php/$1 [L]