.cabecalho{
	.contato-cabecalho{
		text-align: right;
		margin-top: 0;
			
		.icone{
    		margin: 10px;
			height: 40px;
		}

		.texto{
			font-size: 16px;
			font-style: italic;
			text-align: left;
			line-height: 19px;
    		margin: 7px 0;

			.numero-do-telefone{	
				font-size: 20px;
				color: #2c6242;
				display: block;
				font-weight: bold;
			}
		}
	}

}

.cotacao{
	margin-top: 13px;
	.cotacao_item{
		margin-right: 8px;

		.valor{
		    color: #00623e;
    		font-weight: bold;
		}
	}
}