

.produtos{
	text-align: center;
	
	.card{
		text-align: left;

		button{
			display: block;
			border: 1px solid #00633f;
			padding: 6px 8px;
			border-radius: 3px;
			margin-top: 7px;
			color: #00633f;
			font-size: 14px;
			font-weight: bold;
		    background: transparent;

			&:hover{
				background-color: #00633f;
				color: #fff;
			}
		}
	}
}


.cotacao{
	.cotacao_item{
		margin-right: 8px;

		.valor{
		    color: #00623e;
    		font-weight: bold;
		}
	}
}