.formulario-de-contato{
	width: 100%;
	text-align: left;
}

label{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
	display: block;
}

input{
	height: 44px;
	box-sizing: border-box;
}

input, textarea{
	border: 1px solid #cecece;
	border-radius: 3px;
	padding: 12px;
	width: 100%;

}


button{
	cursor: pointer;
}

.botao{
	padding: 8px;
	height: 44px;
	box-sizing: border-box;
	border-radius: 3px;
	width: 200px;
	color: white;
	border: none;

}



.acao-primaria{
	background-color: green;

	&:hover{
		background-color: #024e02;
	}
}

.sem-preenchimento{
	background-color: transparent;
		
}