.grade{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grade__coluna_1{
  flex: none;
  width: 8.33333%;
}

.grade__coluna_2{
  flex: none;
  width:16.66667%
}

.grade__coluna_3{
  flex: none;
  width:25%
}

.grade__coluna_4{
  flex: none;
  width:33.33333%
}

.grade__coluna_5{
  flex: none;
  width:41.66667%
}

.grade__coluna_6{
  flex: none;
  width:50%
}

.grade__coluna_7{
  flex: none;
  width:58.33333%
}

.grade__coluna_8{
  flex: none;
  width:66.66667%
}

.grade__coluna_9{
  flex: none;
  width:75%
}

.grade__coluna_10{
  flex: none;
  width:83.33333%
}

.grade__coluna_11{
  flex: none;
  width:91.66667%;
}

.grade__coluna_12{
  flex: none;
  width: 100%;

}

