html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none; }

img,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.conteudo {
  width: 1020px;
  max-width: 100%;
  margin: 0 auto;
  display: block; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

.titulo {
  margin: 30px 0 5px; }

.descricao-do-bloco {
  margin-bottom: 30px;
  line-height: 22px; }

.blocos {
  display: flex;
  align-items: center; }

p {
  line-height: 24px;
  font-size: 16px; }

.grade {
  display: flex;
  align-items: center;
  justify-content: center; }

.grade__coluna_1 {
  flex: none;
  width: 8.33333%; }

.grade__coluna_2 {
  flex: none;
  width: 16.66667%; }

.grade__coluna_3 {
  flex: none;
  width: 25%; }

.grade__coluna_4 {
  flex: none;
  width: 33.33333%; }

.grade__coluna_5 {
  flex: none;
  width: 41.66667%; }

.grade__coluna_6 {
  flex: none;
  width: 50%; }

.grade__coluna_7 {
  flex: none;
  width: 58.33333%; }

.grade__coluna_8 {
  flex: none;
  width: 66.66667%; }

.grade__coluna_9 {
  flex: none;
  width: 75%; }

.grade__coluna_10 {
  flex: none;
  width: 83.33333%; }

.grade__coluna_11 {
  flex: none;
  width: 91.66667%; }

.grade__coluna_12 {
  flex: none;
  width: 100%; }

.formulario-de-contato {
  width: 100%;
  text-align: left; }

.formulario-de-contato_item {
  margin: 12px 21px; }

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block; }

input {
  height: 44px;
  box-sizing: border-box; }

input, textarea {
  border: 1px solid #cecece;
  border-radius: 3px;
  padding: 12px;
  width: 100%; }

button {
  cursor: pointer; }

.botao {
  padding: 8px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 200px;
  color: white;
  border: none; }

.acao-primaria {
  background-color: green; }
  .acao-primaria:hover {
    background-color: #024e02; }

.sem-preenchimento {
  background-color: transparent; }

.modal {
  background-color: rgba(0, 0, 0, 0.43);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .modal .modal-dialog .modal-content {
      background-color: #fff;
      width: 600px;
      max-height: 88%;
      border-radius: 6px;
      padding: 33px; }
      .modal .modal-dialog .modal-content .modal-header {
        display: block;
        overflow: hidden; }
        .modal .modal-dialog .modal-content .modal-header h2 {
          margin: 25px 0; }
    .modal .modal-dialog .fechar-modal {
      float: right;
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=20);
      opacity: .2;
      cursor: pointer; }
      .modal .modal-dialog .fechar-modal:hover {
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5; }

.cabecalho {
  display: flex;
  height: 70px;
  padding: 12px;
  align-items: center; }
  .cabecalho .logo {
    width: 200px; }
  .cabecalho .contato-cabecalho {
    text-align: right; }
    .cabecalho .contato-cabecalho .icone {
      margin-right: 10px; }
    .cabecalho .contato-cabecalho .texto {
      font-size: 16px;
      font-style: italic;
      text-align: left; }
      .cabecalho .contato-cabecalho .texto .numero-do-telefone {
        font-size: 20px;
        color: #2c6242;
        display: block;
        font-weight: bold; }

.menu {
  text-align: center;
  color: #424242;
  font-size: 16px;
  white-space: nowrap;
  flex-grow: 0;
  flex-shrink: 0; }
  .menu .menu_link {
    margin: 0 7px;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    color: #000000; }
  .menu .menu_link:hover:after {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    background: #bdbdbd;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #00623e; }

.banner img {
  display: block;
  margin: 0 auto; }

body {
  font-family: 'Roboto'; }

.produtos {
  text-align: center; }
  .produtos .lista-de-produtos .lista-de-produtos_item {
    text-align: left; }
    .produtos .lista-de-produtos .lista-de-produtos_item:first-child {
      margin-right: 10%; }
    .produtos .lista-de-produtos .lista-de-produtos_item img {
      border-radius: 6px; }
    .produtos .lista-de-produtos .lista-de-produtos_item h3 {
      font-weight: bold;
      font-size: 22px;
      margin: 10px 0; }
    .produtos .lista-de-produtos .lista-de-produtos_item .cotacao-do-dia strong {
      color: #00623e; }
    .produtos .lista-de-produtos .lista-de-produtos_item button {
      border: 1px solid #00633f;
      padding: 4px;
      border-radius: 3px;
      margin-top: 7px;
      color: #00633f; }

.sobre-a-empresa {
  height: 357px;
  margin-top: 60px;
  padding: 70px 0 0 0;
  background-size: 100% !important;
  margin-bottom: 45px;
  background-attachment: fixed !important;
  background-position: center !important; }
  .sobre-a-empresa .imagem-da-empresa {
    width: 40%;
    margin-right: 5%;
    border-radius: 10px;
    min-width: 293px; }
  .sobre-a-empresa .informacoes-sobre-a-empresa {
    width: 55%;
    color: #fff; }

.fotos-da-empresa .fotos-da-empresa_item {
  margin: 20px; }
  .fotos-da-empresa .fotos-da-empresa_item .imagem-da-empresa {
    width: 100%; }

@media screen and (max-width: 666px) {
  .sobre-a-empresa {
    height: 470px;
    padding: 38px 0 0 0; }
    .sobre-a-empresa .blocos {
      display: block !important; }
    .sobre-a-empresa .imagem-da-empresa {
      width: 100%;
      margin-right: 5%;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
      max-width: 400px; }
    .sobre-a-empresa .informacoes-sobre-a-empresa {
      width: 91%;
      color: #fff;
      display: block;
      margin: 0 auto;
      text-align: center; } }
.entre-em-contato {
  background-color: #fbfbfb;
  padding: 12px 0;
  text-align: center; }
  .entre-em-contato .localizacao .localizacao_item {
    margin: 18px 0; }
    .entre-em-contato .localizacao .localizacao_item .mapa {
      max-height: 282px;
      margin-bottom: 10px; }

/*# sourceMappingURL=estilos.css.map */
